  /* ダウンロードボタン */
.downloadButton {

    padding: 10px 15px;
    border: 2px solid hsl(335, 39.4%, 49.2%);
    border-radius: 5px;
    background-color: hsl(345, 59.3%, 88.4%);
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s, transform 0.3s;
    user-select: none;
  }
  
  .downloadButton:hover {
    color: rgb(255, 255, 255);
    background-color: hsl(335, 51.7%, 70.8%);
  }

  /* アップロードボタン */
  .uploadButton {
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border: 2px solid hsl(200, 39.40%, 49.20%);
    border-radius: 5px;
    background-color: hsl(190, 59.30%, 88.40%);
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s, transform 0.3s;
    user-select: none;
  }
  
  .uploadButton:hover {
    color: rgb(255, 255, 255);
    background-color: hsl(200, 51.70%, 70.80%);
  }

  /* パレット作成ボタン */
  .createPalettereButton{
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border: 2px solid hsl(70, 39.40%, 49.20%);
    border-radius: 5px;
    background-color: hsl(60, 59.30%, 88.40%);
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s, transform 0.3s;
    user-select: none;
  }
  .createPalettereButton:hover {
    color: rgb(255, 255, 255);
    background-color: hsl(70, 51.70%, 70.80%);
  }


  /* リフレッシュボタン */
  .refreshButton {
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border: 2px solid hsl(140, 39.40%, 49.20%);
    border-radius: 5px;
    background-color: hsl(125, 59.30%, 88.40%);
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s, transform 0.3s;
    user-select: none;
  }
  
  .refreshButton:hover {
    color: rgb(255, 255, 255);
    background-color: hsl(140, 51.70%, 70.80%);
  }
  .refreshButton:hover .child{
    background-color: hsl(140, 51.70%, 70.80%);
  }
