.imgToDot {
    position: absolute;
    display: inline-block;
    width: 3em;
    height: 3em;
    background: rgb(255, 255, 255); /* 空の背景 */
    border: 3px solid rgb(118, 118, 118);
    border-radius: 0.25em;
    box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.4);
    overflow: hidden;
    cursor: pointer;
}

/* 丸左 */
.imgToDot::after {
    content: '';
    position: absolute;
    top: 3%;
    left: 3%;
    width: 75%;
    height: 75%;
    border-radius: 999px;
    background-color: rgb(255, 184, 198);
    z-index: 5;
}

/* 四角右 */
.imgToDot::before {
    content: '';
    position: absolute;
    bottom: 3%;
    right: 3%;
    width: 65%;
    height: 65%;
    background-color: rgb(184, 208, 221);
    border-radius: 20%;
    z-index: 4;
}

.dotToImg {
    position: absolute;
    display: inline-block;
    width: 3em;
    height: 3em;
    background: rgb(255, 255, 255); /* 空の背景 */
    border: 3px solid rgb(118, 118, 118);
    border-radius: 0.25em;
    box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.4);
    overflow: hidden;
    cursor: pointer;
}

/* 丸左 */
.dotToImg::after {
    content: '';
    position: absolute;
    top: 3%;
    left: 3%;
    width: 75%;
    height: 75%;
    border-radius: 999px;
    background-color: rgb(238, 225, 227);
    z-index: 4;
}

/* 四角右 */
.dotToImg::before {
    content: '';
    position: absolute;
    bottom: 3%;
    right: 3%;
    width: 65%;
    height: 65%;
    background-color: rgb(100, 195, 246);
    border-radius: 20%;
    z-index: 5;
}

/* 矢印 */
.reload {
    font-size: 16px;
	position: relative;
    top:0.1em;
	width: 1.2em;
	height: 1.2em;

}
/* 三角 */
.reload::before {
	content: "";
	position: absolute;
	top: -0.15em;
	left: 0.65em;
	width: 0;
	height: 0;
	border-top: 0.35em solid transparent;
	border-left: 0.5em solid hsl(125, 50%, 30%);
	border-bottom: 0.35em solid transparent;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}