.imgToDot {
    position: absolute;
    display: inline-block;
    width: 3em;
    height: 3em;
    background: rgb(255, 255, 255); /* 空の背景 */
    border: 3px solid rgb(118, 118, 118);
    border-radius: 0.25em;
    box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.4);
    overflow: hidden;
    cursor: pointer;
    z-index: 3;
}

/* 丸左（明）*/
.imgToDot::after {
    content: '';
    position: absolute;
    top: 3%;
    left: 3%;
    width: 75%;
    height: 75%;
    border-radius: 999px;
    background-color: hsl(348, 100%, 86%);
    border:solid 3px hsl(358, 62%, 39%);
    z-index: 5;
}

/* 四角右（暗） */
.imgToDot::before {
    content: '';
    position: absolute;
    bottom: 3%;
    right: 3%;
    width: 65%;
    height: 65%;
    background-color: hsl(191, 23%, 91%);
    border-radius: 20%;
    z-index: 4;
}

.dotToImg {
    position: absolute;
    display: inline-block;
    width: 3em;
    height: 3em;
    background: rgb(255, 255, 255); /* 空の背景 */
    border: 3px solid rgb(118, 118, 118);
    border-radius: 0.25em;
    box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.4);
    overflow: hidden;
    cursor: pointer;
    z-index: 3;
}

/* 丸左（暗）*/
.dotToImg::after {
    content: '';
    position: absolute;
    top: 3%;
    left: 3%;
    width: 75%;
    height: 75%;
    border-radius: 999px;
    background-color: hsl(338, 26%, 93%);
    z-index: 4;
}

/* 四角右（明） */
.dotToImg::before {
    content: '';
    position: absolute;
    bottom: 3%;
    right: 3%;
    width: 65%;
    height: 65%;
    background-color: hsl(201, 89%, 68%);
    border-radius: 20%;
    z-index: 5;
}

/* 矢印 */
.reload {
	position: relative;
	width: 1.5rem;
	height: 1.5rem;
	border-top: 0.2rem solid hsl(125, 50%, 30%);
	border-left: 0.2rem solid hsl(125, 50%, 30%);
	border-right: 0.2rem solid transparent;
	border-bottom: 0.2rem solid hsl(125, 50%, 30%);
	border-radius: 100% 100% 100% 100%;
	/* -webkit-transform: rotate(-45deg);
	transform: rotate(-45deg); */
}
/* 三角 */
.reload::before {
	content: "";
	position: absolute;
	top: -0.15rem;
	left: 0.8rem;
	width: 0;
	height: 0;
	border-top: 0.35rem solid transparent;
	border-left: 0.5rem solid hsl(125, 50%, 30%);
	border-bottom: 0.35rem solid transparent;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}