/************** ボタン **************/
/* ダウンロードボタン */
.downloadButton {
  padding: 10px 15px;
  border: 2px solid hsl(335, 39.4%, 49.2%);
  border-radius: 5px;
  background-color: hsl(345, 59.3%, 88.4%);
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
  user-select: none;
}

.downloadButton:hover {
  color: rgb(255, 255, 255);
  background-color: hsl(335, 51.7%, 70.8%);
}

/* アップロードボタン */
.uploadButton {
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  border: 2px solid hsl(200, 39.4%, 49.2%);
  border-radius: 5px;
  background-color: hsl(190, 59.3%, 88.4%);
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
  user-select: none;
}

.uploadButton:hover {
  color: rgb(255, 255, 255);
  background-color: hsl(200, 51.7%, 70.8%);
}

/* パレット作成ボタン */
.createPalettereButton {
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  border: 2px solid hsl(70, 39.4%, 49.2%);
  border-radius: 5px;
  background-color: hsl(60, 59.3%, 88.4%);
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
  user-select: none;
}

.createPalettereButton:hover {
  color: rgb(255, 255, 255);
  background-color: hsl(70, 51.7%, 70.8%);
}

/* リフレッシュボタン */
.refreshButton {
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  border: 2px solid hsl(140, 39.4%, 49.2%);
  border-radius: 5px;
  background-color: hsl(125, 59.3%, 88.4%);
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
  user-select: none;
}

.refreshButton:hover {
  color: rgb(255, 255, 255);
  background-color: hsl(140, 51.7%, 70.8%);
}

.refreshButton:hover .refresh {
  border-top: 0.2rem solid hsl(0, 0%, 100%);
  border-left: 0.2rem solid hsl(0, 0%, 100%);
  border-right: 0.2rem solid transparent;
  border-bottom: 0.2rem solid hsl(0, 0%, 100%);
  transition: all 0.3s;
}

.refreshButton:hover .refresh::before {
  border-top: 0.35rem solid transparent;
  border-left: 0.5rem solid hsl(0, 0%, 100%);
  border-bottom: 0.35rem solid transparent;
  transition: all 0.3s;
}

/************** アイコン **************/
.imgToDot {
  position: absolute;
  display: inline-block;
  width: 3em;
  height: 3em;
  background: rgb(255, 255, 255);
  /* 空の背景 */
  border: 3px solid rgb(118, 118, 118);
  border-radius: 0.25em;
  box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.4);
  overflow: hidden;
  cursor: pointer;
  z-index: 3;
}

/* 丸左（明）*/
.imgToDot::after {
  content: "";
  position: absolute;
  top: 3%;
  left: 3%;
  width: 75%;
  height: 75%;
  border-radius: 999px;
  background-color: hsl(348, 100%, 86%);
  border: dashed 2px hsl(0, 100%, 50%);
  z-index: 5;
}

/* 四角右（暗） */
.imgToDot::before {
  content: "";
  position: absolute;
  bottom: 3%;
  right: 3%;
  width: 65%;
  height: 65%;
  background-color: hsl(191, 23%, 91%);
  border-radius: 20%;
  z-index: 4;
}

.dotToImg {
  position: absolute;
  display: inline-block;
  width: 3em;
  height: 3em;
  background: rgb(255, 255, 255);
  /* 空の背景 */
  border: 3px solid rgb(118, 118, 118);
  border-radius: 0.25em;
  box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.4);
  overflow: hidden;
  cursor: pointer;
  z-index: 3;
}

/* 丸左（暗）*/
.dotToImg::after {
  content: "";
  position: absolute;
  top: 3%;
  left: 3%;
  width: 75%;
  height: 75%;
  border-radius: 999px;
  background-color: hsl(338, 26%, 93%);
  z-index: 4;
}

/* 四角右（明） */
.dotToImg::before {
  content: "";
  position: absolute;
  bottom: 3%;
  right: 3%;
  width: 65%;
  height: 65%;
  background-color: hsl(201, 89%, 68%);
  border: dashed 2px hsl(233, 100%, 50%);
  border-radius: 20%;
  z-index: 5;
}

/* 矢印 */
.refresh {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  border-top: 0.2rem solid hsl(125, 50%, 30%);
  border-left: 0.2rem solid hsl(125, 50%, 30%);
  border-right: 0.2rem solid transparent;
  border-bottom: 0.2rem solid hsl(125, 50%, 30%);
  border-radius: 100% 100% 100% 100%;
  transition: all 0.3s, transform 0.3s;
}

/* 三角 */
.refresh::before {
  content: "";
  position: absolute;
  top: -0.15rem;
  left: 0.8rem;
  width: 0;
  height: 0;
  border-top: 0.35rem solid transparent;
  border-left: 0.5rem solid hsl(125, 50%, 30%);
  border-bottom: 0.35rem solid transparent;
  transform: rotate(45deg);
}